/* ===========================================
   Main
   =========================================== */
/* Wrapper styling */
.wrapper {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

/* General Reset */
body, h1, h2, p, ul, li, address {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   gap: 20px;
}

body {
   font-family: Roboto, sans-serif;
}



/* top */

#main_top {
   padding: 20px 0;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */

#bottom_content {
   display: grid;
}

#main_bottom {
   padding: 40px;
}

iframe {
   border: none;
   width: 100%;
}

.maps {
   width: 50%;
   height: 500px;
   border: 1px solid #ccc;
}

.bottomleft {
   width: 50%;
   padding-right: 20px;
}

.contact__info {
   display: grid;
   columns: auto;
   gap: 15px;
}

.contact__info p {
   margin-bottom: 10px;
}

/* form */

form label {
   font-size: 16px;
   font-style: italic;
}

form input,
form select {
   padding: 7px;
}

.info__form p {
   display: grid;
   align-items: center;
}

.info__form label {
   width: 120px;
   display: inline-block;
   text-align: right;
   padding-right: 10px;
}

.info__form input, .info__form select, .info__form textarea {
   width: calc(100% - 130px);
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.info__form textarea {
   height: 120px;
}

/* Submit button */
.btn-cta {
   width: 150px;
   margin-right: 130px;
   padding: 10px;
   background-color: #4cb293;
   color: white;
}

/* Right column (Map section) */


header {
   background-color: #b6d3d0;
   padding: 20px 0;
}

header .wrapper {
   display: grid;
   justify-content: space-between;
   align-items: center;
}

.logo h1 {
   margin: 0;
   font-size: 36px;
}

.logo p {
   margin: 0;
   font-size: 14px;
   color: #666;
}

nav ul {
   list-style: none;
   display: grid;
}

nav ul li {
   margin: 0;
}

nav ul li a {
   text-decoration: none;
   font-weight: bold;
   color: #333;
}

nav ul li.active a {
   color: #4CAF50;
}

/* Footer styling */
footer {
   display: block;
   padding: 0;
   text-align: left;
}

footer ul {
   list-style: none;
   display: grid;
   justify-content: right;
   gap: 10px;
}

footer ul li a img {
   width: 20px;
   height: 20px;
}
