/**
 * Media queries
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

.body_banner {
   width: 100%;
}
@media (min-width: 500px) 
    {.body_banner { padding-left: 80px;
    width: 100%;} }

    
   
    header nav ul {
      margin-top: 20px 30px ;
      margin-left: 100px;
      display: block;

   }
@media(min-width: 700px) {
      header nav ul {
      display: flex;
      justify-content: space-between;
  }
}








